header {
  position: relative;
  width: 100%;
  z-index: 10;
}

.header-container {
  display: flex;
  position: absolute;
  width: 90%;
  align-items: center;
  justify-content: space-between;
  top: 0;
  left: 0;
  padding: 0.75rem 6.25rem;
  z-index: 10;
}

.logo img {
  width: 100px;
  cursor: pointer;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-container ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-container ul li a {
  position: relative;
  font-size: 1.125rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  text-decoration: none;
  color: var(--color-primary1);
  margin: 0 1.125rem;
}

.nav-container ul li a::after {
  content: ' ';
  width: 0%;
  height: 3px;
  background-color: var(--color-secundary1);
  position: absolute;
  bottom: -2px;
  left: 0;
  transition: width 0.5s ease-in-out;
  border-radius: 1px;
}

.nav-container ul li a:hover::after,
.nav-container ul li a.active::after {
  width: 100%;
}

.nav-links {
  gap: 1.25rem;
}

.header-container .button {
  font-size: 0.938rem;
  border: none;
  border-radius: 24px;
  background: linear-gradient(
    to bottom,
    var(--color-secundary1),
    var(--color-secundary2)
  );
  color: var(--color-primary1);
  cursor: pointer;
  transition: background 0.5s ease;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  padding: 0.625rem 1.25rem;
  margin-left: 1.125rem;
}

.header-container .button:hover {
  background: linear-gradient(
    to right,
    var(--color-secundary2),
    var(--color-secundary1)
  );
}

@media (max-width: 884px) {
  .header-container {
    width: 100%;
    justify-content: center;
    padding: 1.25rem;
  }

  .logo {
    display: flex;
    width: 100%;
    justify-content: flex-start;
  }

  .nav-container {
    display: none;
  }

  .logo img {
    width: 100px;
  }
}

@media (min-width: 885px) {
  .nav-container {
    display: flex;
  }
}

@media (max-width: 991px) {
  .header-container {
    padding: 1.25rem;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .header-container {
    width: 100%;
  }
}
